<mat-toolbar style="background-color: white">
  <div class="crud-toolbar-session-row">
    <div class="crud-toolbar-session-left">
      <span>{{!editMode ? listTitle : editTitle}}</span>
    </div>

    <div class="crud-toolbar-session-right">

      <div class="button-crud" *ngIf="editMode">
        <dx-button text="Salvar"
                   icon="add" (onClick)="onButtonSalvarClick()">
        </dx-button>
      </div>

      <div class="button-crud" *ngIf="editMode">
        <dx-button text="Excluir"
                   icon="trash" (onClick)="onButtonExcluirClick()">
        </dx-button>
      </div>


      <div class="button-crud" *ngIf="!editMode">
        <dx-button text="Filtrar"
                   icon="find" (onClick)="onButtonFilterClick()">
        </dx-button>
      </div>

      <div class="button-crud">
        <dx-button text="Novo"
                   icon="add" (onClick)="onButtonNewClick()">
        </dx-button>
      </div>

      <div class="button-crud" *ngIf="!editMode">
        <dx-button text="Limpar"
                   icon="clearformat" (onClick)="onButtonClearClick()">
        </dx-button>
      </div>


      <div class="button-crud">
        <dx-button text="Fechar"
                   icon="close" (onClick)="onButtonCloseClick()">
        </dx-button>
      </div>
    </div>
  </div>

</mat-toolbar>

<div *ngIf="!editMode">
  <div style="padding-left: 70px; padding-top: 20px">
    <ng-content select="[list-fields]"></ng-content>
  </div>

  <div style="padding-top: 10px">
    <ng-content select="[grid-list]"></ng-content>
  </div>
</div>

<div *ngIf="!!editMode">
  <div style="padding-left: 70px; padding-top: 20px">
    <ng-content select="[edit-template]"></ng-content>
  </div>
</div>

