.button-crud {
  margin: 5px;
}

.crud-toolbar-session-row{
  display: flex;
  width: 100%;
  flex-direction: row;
  border-bottom: 1px solid #cdcdcd;
}

.crud-toolbar-session-left {
  width: 50%;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.crud-toolbar-session-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}
