.sidenav-container {
  height: 100%;
}

.sidenav-app {
  width: 250px;
  padding: 20px;
}

.button-sidenav {
  width: 205px;
  justify-content: flex-start;
  margin: 1px;
}

.side-nav{
  display: flex;
  width: 300px;
  list-style: none;
  position: relative;
  white-space: nowrap;
  align-content: center;
  color: #8391a2;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  font-size: 14px;
  padding: 15px 10px;
}


