<dx-drawer  [openedStateMode]="'shrink'"
            [position]="'left'"
            [revealMode]="'slide'"
            template="template"
            [(opened)]="isDrawerOpen"
            [height]="'100%'"
            [closeOnOutsideClick]="true">

  <div *dxTemplate="let data of 'template'" style="width: 250px; background-color: #dedede; height: 100%; padding: 10px; border-right: 1px solid #AFAFAF; border-radius: 2px">
    <dx-tree-view
      #treeview
      [items]="menuList"
      [width]="500"
      [height]="'100%'"
      (onItemClick)="navigate($event)"
      searchMode="contains"
    ></dx-tree-view>
  </div>

  <div id="content" class="dx-theme-background-color">
    <ng-content select="[content-body]"></ng-content>
  </div>
</dx-drawer>
