<dx-toolbar ngClass="toolbar">
  <dxi-item location="before" widget="dxButton" [options]="menuOptions" ngClass="button-header">
  </dxi-item>

  <dxi-item location="before">
    <img src="assets/logo_vetor.png" width="150" height="40">
  </dxi-item>

  <dxi-item location="after" class="padding-rigth">
    <dx-text-box width="300"
                 placeholder="busca...">
    </dx-text-box>
  </dxi-item>

  <dxi-item location="after" class="padding-rigth">
    <dx-button icon="home"
               [type]="buttonType">
    </dx-button>
  </dxi-item>

  <dxi-item location="after" class="padding-rigth">
    <dx-button icon="overflow"
               [type]="buttonType">
    </dx-button>
  </dxi-item>

  <dxi-item location="after" class="padding-rigth">
    <dx-button icon="bell"
               [type]="buttonType">
    </dx-button>
  </dxi-item>

  <dxi-item location="after" class="padding-rigth">
    <dx-button icon="find"
               [type]="buttonType">
    </dx-button>
  </dxi-item>


  <dxi-item location="after" class="padding-rigth">
    <dx-button icon="card"
               text="Samuel Urel"
               [type]="buttonType">
    </dx-button>
  </dxi-item>
</dx-toolbar>


