.toolbar{
  display: flex;
  align-items: center;
  background-color: #4e4e4e;
  height: 45px;
  padding-left: 10px;
  color: white;
}

.avatar {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.title-name {
  font-size: 20px;
  font-family: Garamond;
  opacity: 0.8;
  text-shadow: -4px 4px 4px black;
}

.info {
  width: auto;
  text-align: left;
  height: 100%;
  font-size: 11pt;
  font-weight: normal;
  padding: 25px 20px;
  display: contents;
}

.button-header {
  height: 30px;
  width: 30px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

